html{
    background: linear-gradient(to bottom right,
     #50a3a2 0%, #53e3a6 100%);
	width: 100%;
	height: 100%;    
}
/*Kayıt ol*/
#container{
    width: 25rem;
    height: 40rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin:-20rem 0 0 -12rem;
}
.pswrd-close{
    display: none;
}
.kayitOlTxtHizala{
    position: relative;
    top: -8px;
    left: 3px;
}
kayitOl{
    display: none;
}
/*Admin*/
admin{
    display: none;
}
/*alici*/
alici{
    display: none;
}
/*Satici*/
satici{
    display: none;
}
/*Giris*/
#containerGiris{
    width: 25rem;
    height: 25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin:-15rem 0 0 -15rem;
}
.pswrd-close{
    display: none;
}