html{/*ara plan güzelleştirme*/
    background: linear-gradient(to bottom right,
     #50a3a2 0%, #53e3a6 100%);
	width: 100%;
	height: 100%;    
}
/*Kayıt ol*/
#container{
    width: 25rem;
    height: 40rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin:-20rem 0 0 -12rem;
}
.pswrd-close{/*parolanın görünmez olamsını sağlayan butonun güzelleştirmeye yarar*/
    display: none;
}
.kayitOlTxtHizala{/*kayıt ol txt sinin görselliğini güzelleştirir*/
    position: relative;
    top: -8px;
    left: 3px;
}
kayitOl{/*ekranda neyi görmemiz gerektiğini ayarlar*/
    display: none;
}
/*Admin*/
admin{/*ekranda neyi görmemiz gerektiğini ayarlar*/
    display: none;
}
/*alici*/
alici{/*ekranda neyi görmemiz gerektiğini ayarlar*/
    display: none;
}
/*Satici*/
satici{/*ekranda neyi görmemiz gerektiğini ayarlar*/
    display: none;
}
/*Giris*/
#containerGiris{/*Login ekranındaki paneli güzelleştirir*/
    width: 25rem;
    height: 25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin:-15rem 0 0 -15rem;
}
.pswrd-close{
    display: none;
}
#saticiUrunEklePanel{/*Satıcı ekranındaki paneli güzelleştirir*/
    width: 25rem;
    height: 25rem;
    position: absolute;
    top: 7rem;
    left: 2rem;
}
#saticiUrunleriPanel{/*Satıcı ekranındaki paneli güzelleştirir*/
    width: 40rem;
    height: 25rem;
    position: absolute;
    top: 7rem;
    left: 29rem;
}